.mobile-profile__profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.mobile-profile__user-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-profile__username {
  margin: 0;
}

.mobile-profile__avatar {
  height: 40px;
  flex: 0 0 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: 12px;
}

.mobile-profile__add-clothes-btn {
  border: none;
  background: none;
  line-height: 24px;
}

.mobile-profile__add-clothes-btn:hover {
  cursor: pointer;
  opacity: 70%;
  transition: opacity 0.1s ease-in-out;
}

.mobile-profile__nav-link {
  color: #000000;
  text-decoration: none;
}
